doctype html
html  
  head
    link(type='text/css' rel='stylesheet' href='css/style.css')
    meta(charset='UTF-8')
    title= title
  body(onload="addevt()")
    script(src="libs/three.js")
    script(src="js/arrow-keys.js")
    script(src="libs/OrbitControls.js")
    script(src="js/controls/FirstPersonControls.js")
    script(src="libs/socket.io.js")
    script(src="js/data-viewer-init.js")
    script(src="libs/jquery-3.1.1.min.js")
